body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

.css-1yedr2a,
h1.sbdocs-title,
h2#stories {
    display: none !important;
}

.sbdocs.sbdocs-wrapper {
    padding: 20px;
}

.sbdocs.sb-unstyled {
    font-family: 'Roboto', sans-serif !important;
    margin: 0 0 24px;
    overflow: visible !important
}

.sb-story.sb-unstyled {
    font-family: 'Roboto', sans-serif !important;
}

.docblock-source.sb-unstyled {
    margin: 0;
}

.source-only .docs-story > div,
.source-only .docs-story > div > div {
    display: none !important;
}

.source-only .sbdocs-preview > div {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sbdocs.sb-unstyled .docs-story {
    border-radius: 4px;
}

.sbdocs.sb-unstyled .docs-story:has(+ .css-1xrl4hz) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.docs-story,
.docs-story > div {
    overflow: visible !important;
}

.docs-story div[scale],
.docs-story:not(.sb-story *)    {
    transform: none !important;
}

.docs-story > div > div,
.sb-story.sb-unstyled {
    width: 100%;
}

.docs-story .css-1qq744x {
    background: #fff;
    padding: 40px 20px;
}

.sb-story.sb-unstyled > div {
    display: flex;
    justify-content: center;
    width: auto;
}

.sbdocs.sbdocs-content p {
    font-size: 16px;
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.sbdocs-subtitle {
    color: #333;
    font-size: 16px;
}

h2.sbdocs-subtitle h4 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;   
}

.sb-unstyled:first-of-type h3.title {
    margin: 0;
}

.ds-list {
    margin: 12px 0 0 20px;
}

.ds-list li {
    font: 15px 'Roboto', sans-serif;
    line-height: 150%;
    padding: 0;
}

.css-11xgcgt {
    border-radius: 4px 0 0 0;
}

.docs-story .ds-input,
.docs-story .ds-input__select,
.docs-story .ds-textarea {
    min-width: 300px;
}

.ds-pagination__size .ds-input {
    min-width: auto;
}

.sbdocs-preview.sb-unstyled {
    background-color: #fafafa !important;
}

.dark-bg .sbdocs-preview.sb-unstyled .docs-story,
.sb-anchor[id*='-inverse'] .sbdocs-preview.sb-unstyled .docs-story,
.sbdocs-preview.sb-unstyled.inverse .docs-story {
    background-color: #034C1F !important;
}

.props-card {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 24px;
}

.ds-list {
    margin-bottom: 0 !important;
}

.ds-list li {
    padding: 0 !important;
}

.navrail {
    position: relative !important;
    height: 400px !important;
    position: relative !important;
    overflow: hidden !important;
}

.navrail .ds-navrail__rail,
.navrail .ds-navrail__drawer {
    height: calc(100% - 90px) !important;
    position: absolute !important;
}

.navrail .ds-navrail.--no-header .ds-navrail__rail,
.navrail .ds-navrail.--no-header .ds-navrail__drawer {
    height: 100% !important;   
}

.navrail .ds-header {
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}

.navrail .css-s230ta,
.navrail .docs-story, .docs-story > div {
    height: 100% !important;
}